tensorflow==2.20.0
pandas
dvc
dagshub
mlflow==3.9.0
notebook
numpy
matplotlib
seaborn
python-box==7.3.2
pyYAML
tqdm
ensure==1.0.4
joblib
types-pyYAML
scipy
Flask
Flask-Cors
gdown
open-clip-torch==2.23.0
torch
torchvision
timm
transformers==4.35.2
ftfy
regex
huggingface_hub
